{% extends "home.html" %}
{%block content %}

<header class="masterhead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class="site-heading my-4 mt-3 text-black">Welcome to my blog</h3>
          <p class="text-dark">Django is Awesome</p>
        </div>
      </div>
    </div>
  </div>
</header>
{% for post in posts %}    
<div class="container">
  <div class="row">
    <div class="col-md-8 col-mt-3 left">
    <div class="card mb-4">
        <div class="card-body">
             <h4 class="card-title">{{post.title}}</h4>
          <p class="card-text text-muted h6">{{post.author}} | {{post.created_on}}</p>
          <p class="card-text">{{post.content|truncatewords:200}}</p>
          <a href="post/{{post.id}}" class="btn btn-primary">Read More...</a>
        </div>
      </div>  
    </div> 
    </div>   
  </div>  
</div>
{% endfor %} 
{%endblock content%}


